console.txt
.vscode/MetaRekordFixer.code-workspace
.vs/*.*
.vscode/*.*
.gitignore
.winres/applogo.png
.winres/icon.png
.winres/icon16.png
.winres/winres.json
.dccache
.deepsource.toml
console.txt
dist/compilated/metarekordfixer.exe
dist/installer/MetaRekordFixer-v1.0_inno_script_withDownload_Target_ProgramFiles.iss
dist/installer/MetaRekordFixer-v1.0_inno_script_withDownload.txt
dist/installer/MetaRekordFixer-v1.0.0_inno_script_withDownload_Target_Localappdata.iss
dist/installer/sources/7z.exe
dist/installer/sources/disclaimer_CZ.rtf
dist/installer/sources/disclaimer_EN.rtf
dist/installer/sources/ISPPBuiltins.iss
dist/installer/sources/MetaRekordFixer_transparent.ico
dist/release/sha.txt
dist/release/winget_github_token.txt
dist/release/1.0.0/DJSweder.MetaRekordFixer.installer.yaml
dist/release/1.0.0/DJSweder.MetaRekordFixer.locale.en-US.yaml
dist/release/1.0.0/DJSweder.MetaRekordFixer.yaml
dist/release/1.0.0/metarekordfixer-1.0.0-win64-setup.exe
.gitignore
src/linter.bat
build.bat
buildMAC.bat
console.txt
*.bat
