.deepsource.toml
*.bat
.dccache
dist/compilated/metarekordfixer.exe
dist/installer/MetaRekordFixer-v1.0.0_inno_script_withDownload_Target_Localappdata.iss
dist/installer/MetaRekordFixer-v1.0_inno_script_withDownload.txt
dist/installer/MetaRekordFixer-v1.0_inno_script_withDownload_Target_ProgramFiles.iss
dist/installer/sources/7z.exe
dist/installer/sources/disclaimer_CZ.rtf
dist/installer/sources/disclaimer_EN.rtf
dist/installer/sources/ISPPBuiltins.iss
dist/installer/sources/MetaRekordFixer_transparent.ico
dist/release/1.0.0/DJSweder.MetaRekordFixer.installer.yaml
dist/release/1.0.0/DJSweder.MetaRekordFixer.locale.en-US.yaml
dist/release/1.0.0/DJSweder.MetaRekordFixer.yaml
dist/release/1.0.0/metarekordfixer-1.0.0-win64-setup.exe
dist/release/winget_github_token.txt
.archive/2025-02-17/hotcue_sync.go
.archive/2025-02-17/metadata_sync.go
.archive/2025-02-17/music_converter.go
.archive/2025-02-18/date_sync.go
.archive/2025-02-18/hotcue_sync.go
.archive/2025-02-18/metadata_sync.go
.archive/2025-02-18/music_converter.go
.archive/2025-02-19/assets/applogo.png
.archive/2025-02-19/assets/assets.go
.archive/2025-02-19/assets/bundle.go
.archive/2025-02-19/assets/RobotoCondensedItalic.ttf
.archive/2025-02-19/assets/RobotoCondensedRegular.ttf
.archive/2025-02-19/backup/backup.go
.archive/2025-02-19/common/types.go
.archive/2025-02-19/config/config.go
.archive/2025-02-19/go.mod
.archive/2025-02-19/go.sum
.archive/2025-02-19/locales/en/translations.json
.archive/2025-02-19/locales/locales.go
.archive/2025-02-19/logger/logger.go
.archive/2025-02-19/main.go
.archive/2025-02-19/modules/date_sync.go
.archive/2025-02-19/modules/hotcue_sync.go
.archive/2025-02-19/modules/music_converter.go
.archive/2025-02-19/rsrc_windows_386.syso
.archive/2025-02-19/rsrc_windows_amd64.syso
.archive/2025-02-19/theme/theme.go
.archive/2025-02-19/ui/about_window.go
.archive/2025-02-19/ui/settings_window.go
.archive/2025-02-24/.golangci.yml
.archive/2025-02-24/assets/applogo.png
.archive/2025-02-24/assets/bundle.go
.archive/2025-02-24/assets/RobotoCondensedBold.ttf
.archive/2025-02-24/assets/RobotoCondensedItalic.ttf
.archive/2025-02-24/assets/RobotoCondensedRegular.ttf
.archive/2025-02-24/common/types.go
.archive/2025-02-24/config/config.go
.archive/2025-02-24/config/music_converter_metadata_map.csv
.archive/2025-02-24/go.mod
.archive/2025-02-24/go.sum
.archive/2025-02-24/locales/en/translations.json
.archive/2025-02-24/locales/locales.go
.archive/2025-02-24/logger/logger.go
.archive/2025-02-24/main.go
.archive/2025-02-24/modules/date_sync.go
.archive/2025-02-24/modules/hotcue_sync.go
.archive/2025-02-24/modules/metadata_sync.go
.archive/2025-02-24/modules/tracks_updater.go
.archive/2025-02-24/rsrc_windows_386.syso
.archive/2025-02-24/ui/settings_window.go
.archive/2025-02-25/.golangci.yml
.archive/2025-02-25/assets/applogo.png
.archive/2025-02-25/assets/assets.go
.archive/2025-02-25/assets/bundle.go
.archive/2025-02-25/assets/RobotoCondensedBold.ttf
.archive/2025-02-25/assets/RobotoCondensedItalic.ttf
.archive/2025-02-25/assets/RobotoCondensedRegular.ttf
.archive/2025-02-25/backup/backup.go
.archive/2025-02-25/common/types.go
.archive/2025-02-25/config/config.go
.archive/2025-02-25/config/music_converter_metadata_map.csv
.archive/2025-02-25/go.mod
.archive/2025-02-25/go.sum
.archive/2025-02-25/locales/cs/translations.json
.archive/2025-02-25/locales/en/translations.json
.archive/2025-02-25/locales/locales.go
.archive/2025-02-25/logger/logger.go
.archive/2025-02-25/main.go
.archive/2025-02-25/modules/date_sync.go
.archive/2025-02-25/modules/hotcue_sync.go
.archive/2025-02-25/modules/music_converter.go
.archive/2025-02-25/modules/tracks_updater.go
.archive/2025-02-25/rsrc_windows_386.syso
.archive/2025-02-25/rsrc_windows_amd64.syso
.archive/2025-02-25/theme/theme.go
.archive/2025-02-25/ui/about_window.go
.archive/2025-02-25/ui/help_window.go
.archive/2025-02-25/ui/settings_window.go
.archive/2025-02-28/app.log
.archive/2025-02-28/assets/applogo.png
.archive/2025-02-28/assets/assets.go
.archive/2025-02-28/assets/bundle.go
.archive/2025-02-28/assets/RobotoCondensedBold.ttf
.archive/2025-02-28/assets/RobotoCondensedRegular.ttf
.archive/2025-02-28/backup/backup.go
.archive/2025-02-28/common/types.go
.archive/2025-02-28/config/config.go
.archive/2025-02-28/go.mod
.archive/2025-02-28/go.sum
.archive/2025-02-28/locales/en/translations.json
.archive/2025-02-28/locales/locales.go
.archive/2025-02-28/logger/logger.go
.archive/2025-02-28/main.go
.archive/2025-02-28/modules/date_sync.go
.archive/2025-02-28/modules/hotcue_sync.go
.archive/2025-02-28/modules/tracks_updater.go
.archive/2025-02-28/rsrc_windows_386.syso
.archive/2025-02-28/rsrc_windows_amd64.syso
.archive/2025-02-28/theme/theme.go
.archive/2025-02-28/ui/about_window.go
.archive/2025-02-28/ui/settings_window.go
.archive/2025-03-04/assets/applogo.png
.archive/2025-03-04/assets/assets.go
.archive/2025-03-04/assets/bundle.go
.archive/2025-03-04/assets/metadata_map.csv
.archive/2025-03-04/assets/RobotoCondensedBold.ttf
.archive/2025-03-04/assets/RobotoCondensedRegular.ttf
.archive/2025-03-04/backup/backup.go
.archive/2025-03-04/common/error_handling.go
.archive/2025-03-04/common/module_base.go
.archive/2025-03-04/common/path_utils.go
.archive/2025-03-04/common/types.go
.archive/2025-03-04/config/config.go
.archive/2025-03-04/db/db.go
.archive/2025-03-04/go.mod
.archive/2025-03-04/go.sum
.archive/2025-03-04/locales/cs/translations.json
.archive/2025-03-04/locales/de/translations.json
.archive/2025-03-04/locales/en/translations.json
.archive/2025-03-04/locales/locales.go
.archive/2025-03-04/main.go
.archive/2025-03-04/modules/date_sync.go
.archive/2025-03-04/modules/hotcue_sync.go
.archive/2025-03-04/modules/metadata_sync.go
.archive/2025-03-04/modules/music_converter.go
.archive/2025-03-04/modules/tracks_updater.go
.archive/2025-03-04/rsrc_windows_386.syso
.archive/2025-03-04/rsrc_windows_amd64.syso
.archive/2025-03-04/theme/theme.go
.archive/2025-03-04/ui/common_components.go
.archive/2025-03-04/ui/help_window.go
.archive/2025-03-04/ui/settings_window.go
.archive/2025-03-07/assets/applogo.png
.archive/2025-03-07/assets/bundle.go
.archive/2025-03-07/assets/metadata_map.csv
.archive/2025-03-07/assets/RobotoCondensedBold.ttf
.archive/2025-03-07/assets/RobotoCondensedItalic.ttf
.archive/2025-03-07/backup/backup.go
.archive/2025-03-07/common/config.go
.archive/2025-03-07/common/db.go
.archive/2025-03-07/common/error_handling.go
.archive/2025-03-07/common/logger.go
.archive/2025-03-07/common/module_base.go
.archive/2025-03-07/common/types.go
.archive/2025-03-07/doc/directory_tree.png
.archive/2025-03-07/doc/source_code.txt
.archive/2025-03-07/go.mod
.archive/2025-03-07/go.sum
.archive/2025-03-07/locales/de/translations.json
.archive/2025-03-07/locales/locales.go
.archive/2025-03-07/main.go
.archive/2025-03-07/modules/date_sync.go
.archive/2025-03-07/modules/hotcue_sync.go
.archive/2025-03-07/modules/metadata_sync.go
.archive/2025-03-07/modules/music_converter.go
.archive/2025-03-07/modules/tracks_updater.go
.archive/2025-03-07/rsrc_windows_amd64.syso
.archive/2025-03-07/theme/theme.go
.archive/2025-03-07/ui/about_window.go
.archive/2025-03-07/ui/help_window.go
.archive/2025-03-07/ui/settings_window.go
.archive/2025-03-10/assets/applogo.png
.archive/2025-03-10/assets/assets.go
.archive/2025-03-10/assets/bundle.go
.archive/2025-03-10/assets/metadata_map.csv
.archive/2025-03-10/assets/RobotoCondensedBold.ttf
.archive/2025-03-10/assets/RobotoCondensedRegular.ttf
.archive/2025-03-10/common/db.go
.archive/2025-03-10/common/error_handler.go
.archive/2025-03-10/common/module_base.go
.archive/2025-03-10/common/module_files.go
.archive/2025-03-10/common/module_ui_helpers.go
.archive/2025-03-10/go.mod
.archive/2025-03-10/locales/cs/translations.json
.archive/2025-03-10/locales/de/translations.json
.archive/2025-03-10/locales/en/translations.json
.archive/2025-03-10/locales/locales.go
.archive/2025-03-10/main.go
.archive/2025-03-10/modules/date_sync.go
.archive/2025-03-10/modules/hotcue_sync.go
.archive/2025-03-10/modules/metadata_sync.go
.archive/2025-03-10/modules/music_converter.go
.archive/2025-03-10/modules/tracks_updater.go
.archive/2025-03-10/rsrc_windows_386.syso
.archive/2025-03-10/rsrc_windows_amd64.syso
.archive/2025-03-10/theme/theme.go
.archive/2025-03-10/ui/about_window.go
.archive/2025-03-10/ui/settings_window.go
.archive/2025-03-12/work_files/date_sync.go
.archive/2025-03-12/work_files/metadata_sync_old.go
.archive/2025-03-12/work_files/music_converter_new.go
.archive/2025-03-13 (after 1st refactoring)/assets/applogo.png
.archive/2025-03-13 (after 1st refactoring)/assets/assets.go
.archive/2025-03-13 (after 1st refactoring)/assets/bundle.go
.archive/2025-03-13 (after 1st refactoring)/assets/metadata_map.csv
.archive/2025-03-13 (after 1st refactoring)/assets/RobotoCondensedItalic.ttf
.archive/2025-03-13 (after 1st refactoring)/assets/RobotoCondensedRegular.ttf
.archive/2025-03-13 (after 1st refactoring)/common/config.go
.archive/2025-03-13 (after 1st refactoring)/common/error_handler.go
.archive/2025-03-13 (after 1st refactoring)/common/module_base.go
.archive/2025-03-13 (after 1st refactoring)/common/module_ui_helpers.go
.archive/2025-03-13 (after 1st refactoring)/go.mod
.archive/2025-03-13 (after 1st refactoring)/go.sum
.archive/2025-03-13 (after 1st refactoring)/locales/cs/translations.json
.archive/2025-03-13 (after 1st refactoring)/locales/de/translations.json
.archive/2025-03-13 (after 1st refactoring)/locales/en/translations.json
.archive/2025-03-13 (after 1st refactoring)/locales/locales.go
.archive/2025-03-13 (after 1st refactoring)/main.go
.archive/2025-03-13 (after 1st refactoring)/modules/hotcue_sync.go
.archive/2025-03-13 (after 1st refactoring)/modules/music_converter.go
.archive/2025-03-13 (after 1st refactoring)/modules/tracks_updater.go
.archive/2025-03-13 (after 1st refactoring)/rsrc_windows_386.syso
.archive/2025-03-13 (after 1st refactoring)/rsrc_windows_amd64.syso
.archive/2025-03-13 (after 1st refactoring)/theme/theme.go
.archive/2025-03-13 (after 1st refactoring)/ui/about_window.go
.archive/2025-03-13 (after 1st refactoring)/ui/help_window.go
.archive/2025-03-13 (after 1st refactoring)/ui/settings_window.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/assets/assets.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/assets/bundle.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/assets/metadata_map.csv
.archive/2025-03-13 (after 2nd refactoring - not worked)/assets/RobotoCondensedItalic.ttf
.archive/2025-03-13 (after 2nd refactoring - not worked)/assets/RobotoCondensedRegular.ttf
.archive/2025-03-13 (after 2nd refactoring - not worked)/common/config.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/common/db.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/common/error_handler.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/common/module_base.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/common/module_ui_helpers.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/go.mod
.archive/2025-03-13 (after 2nd refactoring - not worked)/go.sum
.archive/2025-03-13 (after 2nd refactoring - not worked)/locales/cs/translations.json
.archive/2025-03-13 (after 2nd refactoring - not worked)/locales/en/translations.json
.archive/2025-03-13 (after 2nd refactoring - not worked)/locales/locales.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/main.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/modules/date_sync.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/modules/hotcue_sync.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/modules/metadata_sync.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/modules/tracks_updater.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/rsrc_windows_386.syso
.archive/2025-03-13 (after 2nd refactoring - not worked)/rsrc_windows_amd64.syso
.archive/2025-03-13 (after 2nd refactoring - not worked)/theme/theme.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/ui/about_window.go
.archive/2025-03-13 (after 2nd refactoring - not worked)/ui/settings_window.go
.archive/2025-03-16/assets/applogo.png
.archive/2025-03-16/assets/assets.go
.archive/2025-03-16/assets/bundle.go
.archive/2025-03-16/assets/RobotoCondensedBold.ttf
.archive/2025-03-16/assets/RobotoCondensedItalic.ttf
.archive/2025-03-16/assets/RobotoCondensedRegular.ttf
.archive/2025-03-16/common/config.go
.archive/2025-03-16/common/module_base.go
.archive/2025-03-16/common/module_files.go
.archive/2025-03-16/common/module_ui_helpers.go
.archive/2025-03-16/go.mod
.archive/2025-03-16/go.sum
.archive/2025-03-16/locales/cs/translations.json
.archive/2025-03-16/locales/de/translations.json
.archive/2025-03-16/locales/en/translations.json
.archive/2025-03-16/locales/locales.go
.archive/2025-03-16/main.go
.archive/2025-03-16/modules/date_sync.go
.archive/2025-03-16/modules/hotcue_sync.go
.archive/2025-03-16/modules/metadata_sync.go
.archive/2025-03-16/modules/music_converter.go
.archive/2025-03-16/modules/tracks_updater.go
.archive/2025-03-16/rsrc_windows_386.syso
.archive/2025-03-16/rsrc_windows_amd64.syso
.archive/2025-03-16/theme/theme.go
.archive/2025-03-16/ui/about_window.go
.archive/2025-03-16/ui/help_window.go
.archive/2025-03-16/ui/settings_window.go
.archive/2025-03-17 II/assets/applogo.png
.archive/2025-03-17 II/assets/bundle.go
.archive/2025-03-17 II/assets/metadata_map.csv
.archive/2025-03-17 II/assets/RobotoCondensedBold.ttf
.archive/2025-03-17 II/assets/RobotoCondensedItalic.ttf
.archive/2025-03-17 II/assets/RobotoCondensedRegular.ttf
.archive/2025-03-17 II/common/config.go
.archive/2025-03-17 II/common/db.go
.archive/2025-03-17 II/common/module_base.go
.archive/2025-03-17 II/common/module_files.go
.archive/2025-03-17 II/common/module_ui_helpers.go
.archive/2025-03-17 II/go.mod
.archive/2025-03-17 II/go.sum
.archive/2025-03-17 II/locales/cs/translations.json
.archive/2025-03-17 II/locales/de/translations.json
.archive/2025-03-17 II/locales/en/translations.json
.archive/2025-03-17 II/locales/locales.go
.archive/2025-03-17 II/main.go
.archive/2025-03-17 II/modules/date_sync.go
.archive/2025-03-17 II/modules/hotcue_sync.go
.archive/2025-03-17 II/modules/metadata_sync.go
.archive/2025-03-17 II/modules/music_converter.go
.archive/2025-03-17 II/modules/tracks_updater.go
.archive/2025-03-17 II/rsrc_windows_386.syso
.archive/2025-03-17 II/rsrc_windows_amd64.syso
.archive/2025-03-17 II/theme/theme.go
.archive/2025-03-17 II/ui/about_window.go
.archive/2025-03-17 II/ui/help_window.go
.archive/2025-03-17 II/ui/settings_window.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/assets/applogo.png
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/assets/assets.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/assets/bundle.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/assets/metadata_map.csv
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/assets/RobotoCondensedBold.ttf
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/assets/RobotoCondensedItalic.ttf
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/assets/RobotoCondensedRegular.ttf
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/backup/backup.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/common/config.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/common/db.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/common/error_handling.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/common/logger.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/common/module_base.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/common/path_utils.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/common/types.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/go.mod
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/go.sum
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/locales/cs/translations.json
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/locales/de/translations.json
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/locales/en/translations.json
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/locales/locales.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/main.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/modules/date_sync.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/modules/hotcue_sync.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/modules/metadata_sync.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/modules/music_converter.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/modules/tracks_updater.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/rsrc_windows_386.syso
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/rsrc_windows_amd64.syso
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/theme/theme.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/ui/about_window.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/ui/common_components.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/ui/help_window.go
.archive/2025-03-17 testgit/MetaRekordFixerTest/src/ui/settings_window.go
.archive/2025-03-17/assets/applogo.png
.archive/2025-03-17/assets/assets.go
.archive/2025-03-17/assets/bundle.go
.archive/2025-03-17/assets/metadata_map.csv
.archive/2025-03-17/assets/RobotoCondensedBold.ttf
.archive/2025-03-17/assets/RobotoCondensedItalic.ttf
.archive/2025-03-17/assets/RobotoCondensedRegular.ttf
.archive/2025-03-17/common/config.go
.archive/2025-03-17/common/db.go
.archive/2025-03-17/common/error_handler.go
.archive/2025-03-17/common/module_base.go
.archive/2025-03-17/common/module_files.go
.archive/2025-03-17/common/module_ui_helpers.go
.archive/2025-03-17/go.mod
.archive/2025-03-17/go.sum
.archive/2025-03-17/locales/cs/translations.json
.archive/2025-03-17/locales/de/translations.json
.archive/2025-03-17/locales/en/translations.json
.archive/2025-03-17/locales/locales.go
.archive/2025-03-17/main.go
.archive/2025-03-17/modules/date_sync.go
.archive/2025-03-17/modules/hotcue_sync.go
.archive/2025-03-17/modules/metadata_sync.go
.archive/2025-03-17/modules/music_converter.go
.archive/2025-03-17/modules/tracks_updater.go
.archive/2025-03-17/rsrc_windows_386.syso
.archive/2025-03-17/rsrc_windows_amd64.syso
.archive/2025-03-17/theme/theme.go
.archive/2025-03-17/ui/about_window.go
.archive/2025-03-17/ui/help_window.go
.archive/2025-03-17/ui/settings_window.go
.archive/2025-03-18 corrected working/assets/applogo.png
.archive/2025-03-18 corrected working/assets/assets.go
.archive/2025-03-18 corrected working/assets/bundle.go
.archive/2025-03-18 corrected working/assets/metadata_map.csv
.archive/2025-03-18 corrected working/assets/RobotoCondensedBold.ttf
.archive/2025-03-18 corrected working/assets/RobotoCondensedItalic.ttf
.archive/2025-03-18 corrected working/assets/RobotoCondensedRegular.ttf
.archive/2025-03-18 corrected working/common/config.go
.archive/2025-03-18 corrected working/common/db.go
.archive/2025-03-18 corrected working/common/error_handler.go
.archive/2025-03-18 corrected working/common/module_base.go
.archive/2025-03-18 corrected working/common/module_files.go
.archive/2025-03-18 corrected working/common/module_ui_helpers.go
.archive/2025-03-18 corrected working/go.mod
.archive/2025-03-18 corrected working/go.sum
.archive/2025-03-18 corrected working/locales/cs/translations.json
.archive/2025-03-18 corrected working/locales/de/translations.json
.archive/2025-03-18 corrected working/locales/en/translations.json
.archive/2025-03-18 corrected working/locales/locales.go
.archive/2025-03-18 corrected working/main.go
.archive/2025-03-18 corrected working/modules/date_sync.go
.archive/2025-03-18 corrected working/modules/hotcue_sync.go
.archive/2025-03-18 corrected working/modules/metadata_sync.go
.archive/2025-03-18 corrected working/modules/music_converter.go
.archive/2025-03-18 corrected working/modules/tracks_updater.go
.archive/2025-03-18 corrected working/rsrc_windows_386.syso
.archive/2025-03-18 corrected working/rsrc_windows_amd64.syso
.archive/2025-03-18 corrected working/theme/theme.go
.archive/2025-03-18 corrected working/ui/about_window.go
.archive/2025-03-18 corrected working/ui/help_window.go
.archive/2025-03-18 corrected working/ui/settings_window.go
.archive/2025-03-18/assets/applogo.png
.archive/2025-03-18/assets/assets.go
.archive/2025-03-18/assets/bundle.go
.archive/2025-03-18/assets/metadata_map.csv
.archive/2025-03-18/assets/RobotoCondensedBold.ttf
.archive/2025-03-18/assets/RobotoCondensedItalic.ttf
.archive/2025-03-18/assets/RobotoCondensedRegular.ttf
.archive/2025-03-18/common/config.go
.archive/2025-03-18/common/db.go
.archive/2025-03-18/common/error_handler.go
.archive/2025-03-18/common/module_base.go
.archive/2025-03-18/common/module_files.go
.archive/2025-03-18/common/module_ui_helpers.go
.archive/2025-03-18/go.mod
.archive/2025-03-18/go.sum
.archive/2025-03-18/locales/cs/translations.json
.archive/2025-03-18/locales/de/translations.json
.archive/2025-03-18/locales/en/translations.json
.archive/2025-03-18/locales/locales.go
.archive/2025-03-18/main.go
.archive/2025-03-18/modules/date_sync.go
.archive/2025-03-18/modules/hotcue_sync.go
.archive/2025-03-18/modules/metadata_sync.go
.archive/2025-03-18/modules/music_converter.go
.archive/2025-03-18/modules/tracks_updater.go
.archive/2025-03-18/rsrc_windows_386.syso
.archive/2025-03-18/rsrc_windows_amd64.syso
.archive/2025-03-18/theme/theme.go
.archive/2025-03-18/ui/about_window.go
.archive/2025-03-18/ui/help_window.go
.archive/2025-03-18/ui/settings_window.go
.archive/dist/app.log
.archive/dist/metarekordfixer (before_refactoring).exe
.archive/dist/test_metarekordfixer-1.0-win64-setup.exe
.archive/doc/app description CZ draft.txt
.archive/doc/chat.json
.archive/doc/disclaimer-english.docx
.archive/doc/disclaimer.md
.archive/doc/file_structure.txt
.archive/doc/files_descr.txt
.archive/doc/files_structure.jpg
.archive/doc/files_structure.pdf
.archive/doc/files_structure.png
.archive/doc/format_converter_původní_zadání.txt
.archive/doc/GO_MP3_libraries.md
.archive/doc/metadata_source_ffprobe.txt
.archive/doc/metadata_target.txt
.archive/doc/MetaRekordFixer_golang_sources conv.txt
.archive/doc/MetaRekordFixer_golang_sources.pdf
.archive/doc/MetaRekordFixer_golang_sources.txt
.archive/doc/module_base_common.csv
.archive/doc/module_base_common.xlsx
.archive/doc/mp3_libraries.pdf
.archive/doc/panic_error.txt
.archive/doc/progress_bar_ffmpeg \#1.pdf
.archive/doc/progress_bar_ffmpeg \#1.txt
.archive/doc/progress_bar_ffmpeg \#2.txt
.archive/doc/Rekordbox Terms.txt
.archive/doc/roadmap.pdf
.archive/doc/source_code_old.pdf
.archive/doc/source_code_old.txt
.winres/applogo.png
.winres/icon.png
.winres/icon16.png
.winres/winres.json
temp/02 date_sync.jpg
temp/03 hotcue_sync.jpg
temp/03_hotcue_sync_v4.jpg
temp/04 music_converter.jpg
temp/after_reopen_app.jpg
temp/archive/2025-02-17/hotcue_sync.go
temp/archive/2025-02-18/hotcue_sync.go
temp/archive/2025-02-19/modules/hotcue_sync.go
temp/archive/2025-02-24/modules/hotcue_sync.go
temp/archive/2025-02-25/modules/hotcue_sync.go
temp/archive/2025-02-28/modules/hotcue_sync.go
temp/archive/2025-03-16/hotcue_sync.go
temp/archive/2025-03-17 II/hotcue_sync.go
temp/archive/2025-03-17/hotcue_sync.go
temp/archive/hotcue_sync.go
temp/empty_conf.jpg
temp/filled_fields.jpg
temp/hotcue_sync.go
temp/hotcue_sync_úprava1.jpg
temp/hotcue_sync_úprava3.jpg
temp/sample_djmdContent_FLAC.csv
temp/sample_djmdCue_FLAC_items.csv
temp/sample_djmdPlaylist.csv
temp/sample_djmdSongPlaylist.csv
temp/save_settings.jpg
temp/start.jpg
src/golangci-lint.html
.aiexclude
